body {
    margin: 0;
    padding: 0;
}

.sidebar {
    list-style-type: none;
    margin-top:0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0;
    width:100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.header-amigo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.header-amigo li {
    float: left;
}

.header-amigo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-amigo li a:hover {
    background-color: #111;
}

.avatar-img {
    width: 24px;
    height: 24px;
}

.pointer {
    cursor: pointer;
}

.container {
    margin-top: 5.6%;
}